* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    font-family: Livvic;
}

body {
    font-size: rem(18px);
    margin: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(190, 205, 224);
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
}